:root {
  --color: rgb(255, 255, 255);
  --title-font-size: 3.4rem;
  --title-font-width: 700;
  --side--width: 300px;
  --alchemy--title--font-size: 2.4rem;
  --box-shadow--one: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}
@import "~antd/dist/antd.css";
.alchemy--intro {
  padding: 100px 40px;
}

.intro--title {
  color: var(--color);
  text-align: center;
  font-size: var(--title-font-size);
  font-weight: 700;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
}

.space--between {
  justify-content: space-between;
}

.app--section--right::-webkit-scrollbar {
  display: none;
}

.section--section--right--subtitle {
  color: var(--color);
  font-size: var(--alchemy--title--font-size);
  font-weight: 600;
}
.section--right--subtitle {
  color: var(--color);
  font-size: 1.2rem;
}

.alchemy--inputfield {
  color: var(--color);
}

.alchemy--input {
  margin: 10px 0 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  color: var(--color);
}

.alchemy--payout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.align--middle {
  justify-content: center;
}

.alchemy--account--type {
  font-weight: 400;
  margin-top: 32px;
  width: 200px;
}
.alchemy--switch {
  margin-bottom: 15px;
}

.alchemy--input--group {
  /* margin-bottom: 40px; */
  margin: 40px auto;
  padding: 35px 0px 50px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.alchemy--bottom--links {
  justify-content: space-between;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
}

.alchemy--steps {
  height: 400px;
}
.alchemy--step {
  color: var(--color);
}

@media (max-width: 1400px) {
}

.alchemy--wallet--totalpercentage {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 2px;
}

.alchemy--confirmation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.alchemy--confirmation--result {
  width: 200px;
  margin-left: -150px;
  /* flex */
}

.wallet {
  padding-right: 0;
}

.plain--button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 500;
}
.plain--button:hover {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6);
}

/* ///////////////////////////////////////////////////////////////////////////// */

.alchemy--progress-bar {
  position: absolute;
  height: 3px;
  left: var(--side--width);
  top: var(--header--height);
  width: calc(101vw - var(--side--width));
  background-color: transparent;
}

.alchemy--progress {
  height: 3px;
  transition: 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.05);
  background-color: turquoise;
  border-radius: 0px 20px 20px 0;
}
