.DAO--grid--top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}

.DAO--grid--top--item {
  width: 100%;
  height: 125px;
  border-radius: 40px;
  display: inline-block;
  flex-direction: column;
  position: relative;
  background-color: rgba(19, 19, 19, 1);
}

.DAO--grid--top--item--top {
  height: 35%;
  width: 100%;
}

.DAO--grid--top--item--bottom {
  /* background: var(--base--background-gradient); */
  background: rgb(255, 255, 255, 0.8);
  height: 65%;
  width: 100%;
  border-radius: 40px 0px 40px 40px;
}

.DAO--grid--top--item--container {
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
  height: 100%;
  justify-content: space-around;
}

.DAO--grid--top--text {
  font-weight: 500;
  padding-top: 5px;
  font-size: 1.4rem;
  color: rgb(113, 95, 202);
  color: white;
}

.DAO--grid--top--result {
  color: black;
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.unit {
  align-self: baseline;
  font-size: 1rem;
  margin-top: 18px;
}

@media (max-width: 1400px) {
  .DAO--grid--top {
    grid-template-columns: 1fr 1fr;
  }
}

.app--section--right {
  position: absolute;
  left: 300px;
  overflow: scroll;
  /* top: 75px; */
  margin: 0px 0px;
  height: calc(100vh - var(--header--height));
  width: calc(100% - var(--side--width));
  min-width: 940px;
  z-index: 0;
  /* top: var(--header--height); */
  background: #121418;
}

.backboard {
  margin: 50px 75px;
  background: var(--sidebar--color);
  padding: 30px;
  border-radius: 40px;
  max-height: 100%;
  overflow: auto;
  border: 0.3px solid rgb(255, 255, 255, 0.05);
}
/*
position: absolute;
  top: 0;
  padding: 30px 40px 30px 40px;
  box-shadow: var(--box-shadow--one);
  align-items: center;
  justify-content: center;
  width: calc(100% - 100px);
  overflow: scroll;
  height: 90vh;
  background: #121418;
  border: 0.3px solid rgba(255, 255, 255, 0.2);
}
*/
.backboard::-webkit-scrollbar {
  display: none;
}
/*   /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

.DAO--grid--proposals {
  background-color: rgba(19, 19, 19, 1);
  width: 100%;
  height: 80px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}
