.display--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6rem;
}

.property--card {
  background-color: rgb(8, 8, 8, 0.5);
  border-radius: 40px;
  cursor: pointer;
  word-wrap: break-word;
  width: 450px;
  height: 430px;
  border: 0.35752px solid rgba(255, 255, 255, 0.3);
}

.property--card:hover {
  transition: 0.5s;
  box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.25);
  filter: brightness(1.1);
  transform: scale(1.005);
}

.grid--card--image {
  height: 60%;
  width: 100%;
  object-fit: cover;
  border-radius: 40px;
}

.property--card--bottom {
  margin: 32px 42px 32px 42px;
  display: flex;
  flex-direction: row;
}

/* left */
.left {
  width: 100%;
}

.property--card--text {
  font-family: var(--property--card--font);
  color: white;
  margin: 0;
  padding: 0;
}

.property--card--message {
  font-size: 2rem;
  font-weight: 700;
  margin-top: -5px;
}

.property--card--name {
  font-size: 1.2rem;
  font-weight: 600;
}

.property--card--progressbar {
  background: linear-gradient(
    90deg,
    #73fbd3 0%,
    #44e5e7 25.52%,
    #59d2fe 52.6%,
    #4a8fe7 77.08%,
    #5c7aff 100%
  );
  /* width: 20%; */
  height: 20px;
  border-radius: 20px;
}

.property--card--progressslot {
  width: 90%;
  background: conic-gradient(
    from 181.3deg at 3.21% -245.45%,
    rgb(255, 255, 255, 0.55) 0deg,
    rgba(255, 253, 253, 0) 360deg
  );
  border: 0.35752px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 30px;
}

/* RIGHT */

.right {
  width: 30%;
}
.dao--icon {
  background-color: rgb(0, 0, 0);
  width: 110px;
  height: 70px;
  border-radius: 100px;
  padding-left: 2.5px;
}

.dao--name--icon {
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  align-self: center;
  margin-top: 10px;
}

.dao--icon--image {
  height: 100%;
  border: 1px solid white;
  object-fit: cover;
  border-radius: 100px;
}
