:root {
  --connect--background-color: rgba(255, 255, 255, 0.3);
  --base--background-gradient: linear-gradient(
    90deg,
    #6748db 0%,
    #8372cd 36.46%,
    #6b87be 69.79%,
    #57a3d9 100%
  );

  --base--secondary-color: rgba(31, 35, 40, 1);
  --base--boxshadow: 1px 4px 20px rgba(0, 0, 0, 0.25);
}

.header {
  z-index: 2;
  width: 100%;
  align-items: center;
  display: flex;
  padding: 15px 40px;
  justify-content: space-between;
  position: sticky;
  transition: 0.5s ease-in;
}

.header-scroll {
  transition: 1s ease-in;
  position: fixed;
  background: var(--base--background-gradient);
  box-shadow: var(--base--boxshadow);
}

.header--logo {
  margin: 0px;
  padding: 0px;
  color: white;
  font-weight: 500;
  z-index: 2;
}

.header--logo--button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2.1rem;
}

.header--nav--actionbutton {
  background: var(--base--secondary-color);
  padding: 7.5px 20px;
  margin: 0px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 0.8rem;
  width: 18ch;
  overflow: hidden;
}

.header--nav--actionbutton:hover {
  box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.25);
  filter: brightness(1.2);
  transition-duration: 0.2s;
}
.header--nav--actionbutton:active,
.header--nav--actionbutton:focus {
  box-shadow: none;
}

.header--logo--bolder {
  font-weight: 700;
  background: linear-gradient(
    90deg,
    #d9d8d6 0%,
    #e5e4e2 29.17%,
    #f1f0ed 64.06%,
    #faf9f6 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.header--nav--link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.8rem;
}

.header--nav--link:hover,
a:hover {
  color: #343e66;
  transition-duration: 0.3s;
}

.header--nav--link:focus {
  border: 1px solid blue;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: white;
}

.header--nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  align-items: center;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
}

.header--li {
  margin-left: 70px;
  display: inline-block;
}

.header--connect {
  background-color: aquamarine;
  border-radius: 5px;
}

/* @media (max-width: 1150px) {
  nav,
  .header--li {
    visibility: hidden;
    white-space: nowrap;
    margin-left: 0;
  }
} */

@media (min-width: 850px) {
  .menu--is--active {
    visibility: visible;
    z-index: 5;
  }
}
@media (max-width: 600px) {
  .header {
    padding: 5px 15px;
  }
  .nav--dropdown {
    right: 15px;
  }
}

.disconnect {
  overflow: hidden;
  width: 15ch;
  white-space: nowrap;
}

.nav--dropdown {
  position: absolute;
  width: 400px;
  background-color: var(--base--secondary-color);
  right: 40px;
  top: 70px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--base--boxshadow);
  color: white;
}

.nav--dropdown--item {
  margin: 10px;
  overflow: hidden;
}

.nav--dropdown--item:last-child {
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}
.nav--dropdown--item:first-child {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.nav--dropdown--button {
  align-self: flex-end;
  justify-self: flex-end;
  margin: 0 auto;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.nav--dropdown--button:hover {
  font-weight: 600;

  color: white;
}
